<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application>

        <activity
            android:name="com.xy.home.page.act.WelcomeAct"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="zhiniao://" />

            </intent-filter>
        </activity>

        <activity android:name=".page.act.MainActivity"/>
        <activity android:name=".page.act.TestAcy"/>
        <activity android:name=".page.act.HomeDetailAcy"/>
        <activity android:name=".page.act.PostCommunityAct"/>
        <activity android:name=".page.act.H5Acy"/>
        <activity android:name=".page.act.SearchAcy"/>
        <activity android:name=".page.act.SigninAcy"/>
        <activity android:name=".page.act.MarkdownAcy"
            android:windowSoftInputMode="adjustResize"/>


        <activity
            android:name=".page.act.VideoPlayerAcy"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="true" />

    </application>

</manifest>